html, body{
    margin:0;
    padding:0;
    background-color: #FFFFFF;
    font-size: 10px;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
/* header */
header{
    height: 30rem;
    background-image: url(assets/header.jpg);
    opacity: 0.9;
    background-size: cover;
    background-position: center;
    color:#FFFFFF;
    width:100%; 
    position: relative;
    text-align: center;
}
.header-container{
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin: 0 auto;
}
h1{
    font-weight: 800;
    font-size: 10rem;
    display: inline;
}
.header-container button{
    font-weight: 400;
    font-size: 3rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    color:#FFFFFF;
}
/* search form */
#search-movie-form{
    display: flex;
    background: yellow;
    align-items: center;
    padding: 0em;
    border-radius: 5px;
    text-align: left;
    border: 1px solid #D1D5DB;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    width: 60vw;
    max-width: 700px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: -1.9em auto;
}

#search-icon{
    padding: 1rem 0;
    margin-left: 1rem;
    color:black;
    font-size: 1.6rem;
}

#search-input {
    border: none;
    padding: 1em;
    margin-right: auto;
    flex: 450px 1;
    font-family: inherit;
}
#search-btn{
    align-self: stretch;
    background: #F9FAFB;
    border: none;
    border-left: 1px solid #D1D5DB;
    padding: 0.5em 1em;
    cursor: pointer;
    font-family: inherit;
}
